<!DOCTYPE html>
<html lang="es">

<head>

    <%- include('../views/partials/head.ejs'); %>

    <script language="javascript">
        
        function hidedownloads(d){
            
            if(d =='guest'){
            let x = document.getElementById('descargas')
            x.classList.add('invisible')
        }
        }
        
    </script>
        <title>Composto Main</title>
</head>

<body onload="hidedownloads(user)">
    <%- include('../views/partials/navbar.ejs'); %>
        <div class="container-fluid">
            <br>

            <div class="col-md-12">

                <div class="h-100 p-5 bg-light border rounded-50">
                    <h4 class="text-center">Ultimo registro.</h4>

                    <% var m = data.length - 1 %>
                    <p class="text-center" style="font-size: .8em"> Se muestra el ultimo registro medido. <span class="font-italic" style="font-size: .65em"></span>Hora de corte:</span>&nbsp;<strong><%=data[m][13]%> (HH:MM:SS)</strong>
                    </p>
                    <br>

                    <div class="row justify-content-md-center">

                        <div class="col-md-6">

                            <% for (var i=0; i < 6; i++ ) { %>
                                <% var m = data.length - 1 %>
                                <p> <span style="font-size:.8em">Composta: </span><span class="text-center" style="font-size: 1.3em;"><%= i+1%> </span> </p>

                                    <p>
                                        <span class="text-left" style="font-size: .8em">Hora de medición:</span> <br> <span class="text-center" style="font-size: 1.3em;"><%= data[m][i][1] %> ± 0.5s (HH:MM:SS)</span> 
                                    </p>
    
                                    <p>
                                        <span class="text-left" style="font-size: .8em">Humedad promedio (fase solida):</span> <br> <span class="text-center" style="font-size: 1.3em;"><%= data[m][i][2] %>, &nbsp; σ : <%= data[m][i][3] %> &nbsp;% </span> 
                                    </p>

                                    <p>
                                        <span class="text-left" style="font-size: .8em">Humedad promedio (fase gaseosa):</span> <br> <span class="text-center" style="font-size: 1.3em;"><%= data[m][i][4] %>, &nbsp; σ : <%= data[m][i][5] %> &nbsp;% </span> 
                                    </p>

                                    <p>
                                        <span class="text-left" style="font-size: .8em">Temperatura promedio (fase solida):</span> <br><span class="text-center" style="font-size: 1.3em;"><%= data[m][i][6] %>, &nbsp; σ : <%= data[m][i][7] %> &nbsp;C°</span> 
                                    </p>

                                    <p>
                                        <span class="text-left" style="font-size: .8em">Temperatura promedio (fase gaseosa):</span> <br> <span class="text-center" style="font-size: 1.3em;"><%= data[m][i][8] %>, &nbsp; σ : <%= data[m][i][9] %> &nbsp;C°</span> 
                                    </p>

                                    <p>
                                        <span class="text-left" style="font-size: .8em">Dioxido de Carbono circundante:</span> <br> <span class="text-center" style="font-size: 1.3em;">   <%= data[m][i][10] %>, &nbsp; σ : <%= data[m][i][11] %> &nbsp;ppm </span> 
                                    </p>

                                <br>
    
                                <% } %>

                        </div>

                        <div class="col-md-6">

                            <% for (var i=6; i < 12; i++ ) { %>
                                <% var m = data.length - 1 %>
                                <p> <span  style="font-size:.8em">Composta: </span>&nbsp;<span class="text-center" style="font-size: 1.3em;"><%= i+1%> </span> </p>

                                    <p>
                                        <span class="text-left" style="font-size: .8em">Hora de medición:</span> <br> <span class="text-center" style="font-size: 1.3em;"><%= data[m][i][1] %> ± 0.5s (HH:MM:SS)</span> 
                                    </p>
    
                                    <p>
                                        <span class="text-left" style="font-size: .8em">Humedad promedio (fase solida):</span> <br> <span class="text-center" style="font-size: 1.3em;"><%= data[m][i][2] %>, &nbsp; σ : <%= data[m][i][3] %> &nbsp;% </span> 
                                    </p>

                                    <p>
                                        <span class="text-left" style="font-size: .8em">Humedad promedio (fase gaseosa):</span> <br> <span class="text-center" style="font-size: 1.3em;"><%= data[m][i][4] %>, &nbsp; σ : <%= data[m][i][5] %> &nbsp;% </span> 
                                    </p>

                                    <p>
                                        <span class="text-left" style="font-size: .8em">Temperatura promedio (fase solida):</span> <br><span class="text-center" style="font-size: 1.3em;"><%= data[m][i][6] %>, &nbsp; σ : <%= data[m][i][7] %> &nbsp;C°</span> 
                                    </p>

                                    <p>
                                        <span class="text-left" style="font-size: .8em">Temperatura promedio (fase gaseosa):</span> <br> <span class="text-center" style="font-size: 1.3em;"><%= data[m][i][8] %>, &nbsp; σ : <%= data[m][i][9] %> &nbsp;C°</span> 
                                    </p>

                                    <p>
                                        <span class="text-left" style="font-size: .8em">Dioxido de Carbono circundante:</span> <br> <span class="text-center" style="font-size: 1.3em;">   <%= data[m][i][10] %>, &nbsp; σ : <%= data[m][i][11] %> &nbsp;ppm </span> 
                                    </p>

                                <br>
    
                                <% } %>

                        </div>

                    </div>

                </div>

            </div>
            <br>

            <%- include('../views/partials/footer.ejs'); %>

        </div>

</body>

</html>